@import "compass/css3";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
}

/* Nav  area */
.nav-heading {
    color: rgb(0, 98, 155);
    font-weight: 600;
}

.nav-items {
    color: black;
    font-weight: 600;
}

.nav-items:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nav-item {
    color: rgb(0, 98, 155);
    border: 4px solid rgb(0, 98, 155);
}

#nav-item:hover {
    color: #fff;
}

.header-bottem-hr {
    width: 60%;
    background-color: rgb(0, 98, 155);
}

/* Introduction section */

.introduction-section {
    text-align: center;
    padding: 190px 20% 0px;
}

.introduction-heading {
    font-weight: 600;
}

.introduction-text {
    color: rgb(0, 98, 155);
    font-weight: 500;
    margin-top: 2%;
    font-size: 20px;
    color: black;
}

.introduction-avatar {
    margin-top: 2%;
    width: 18%;
    height: 18%;
    border-radius: 50%;
}

.introduction-image-area {
    margin-top: 10%;
}

.introduction-image {
    width: 50%;
}

/* About area */
.about-section {
    background-color: rgb(0, 98, 155);
    padding: 8% 8% 8%;
    color: #fff;
    text-align: center;
}

.aboutme-heading {
    font-weight: 800;
    padding-left: .8%;
}

.about-info {
    margin-top: 2%;
}

#about-container {
    max-width: 60%;
}

.aboutme-section {
    font-weight: 400;
    color: white;
}

.resume-button-area{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin-top: 2%;
    margin-left: 1%;
  }
  .resume-button{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .resume-button:before,
  .resume-button:after{
    position: absolute;
    content: "Resume";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .resume-button:before{
    color: #fff;
    background: rgb(0, 98, 155);
    transform: rotateY(0deg) translateZ(25px);
  }
  .resume-button:after{
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: rotateX(90deg) translateZ(25px);
  }
  .resume-button:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }

  .about-hr  {
      width: 50%;
      margin-top: 50px;
      background-color: #fff;
  }

  .progress-heading {
      margin-top: 8%;
      margin-left: 1%;
      font-weight: 600;
  }

  .progress-area {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 6%;
      margin-left: 1%;
  }

  .progress-language {
      font-weight: 500;
      margin-top: 1%;
  }

  .progress {
    background: rgba(255,255,255,0.1);
    border-radius: 100px;
    border: 1px solid black;
    align-items: center;
    position: relative;
    display: flex;
    height: 20px;
    min-width: 200px;
    max-width: 15%;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  #progress-html {
    animation: load-html 3s normal forwards; 
  }

  #progress-css {
    animation: load-css 3s normal forwards;
  }

  #progress-js {
    animation: load-js 3s normal forwards;
  }

  @keyframes load-html {
    0% { width: 0; }
    100% { width: 90%; }
  }

  @keyframes load-css {
    0% { width: 0; }
    100% { width: 90%; }
  }

  @keyframes load-js {
    0% { width: 0; }
    100% { width: 60%; }
  }

/* work-section */

.work-section{
    height: 906.8px;
}

.work-heading-area {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

.work-section-hr {
  background-color: rgb(0, 98, 155);
  width: 60%;
  margin-bottom: 50px;
}

.boxesContainer {
  padding-left: 100px;
}

.work-heading {
    margin-bottom: 1%;
    font-weight: 600;
}

.work-heading-information {
    font-family: 'Times New Roman', Times, serif;
}

.work-link {
    color: rgb(0, 98, 155);
    font-weight: 600;
}

.align-center{
    margin:0 auto;
}

.work-image {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

  .cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 30%;
    border-radius: 15px;
  }
  
  .cardBox:hover .card {
    transform: rotateY( 180deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .card {
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-radius: 15px;
  }
  
  .card p {
    margin-bottom: 1.8em;
  }
  
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 15px;
  }
  
  .card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  
  .card .back {
    transform: rotateY( 180deg);
    background-color: rgb(0, 98, 155);
    padding: 20px;
  }

  .card-back-name {
    font-weight: 600;
    margin-top: 20px;
  }

  .card-back-hr {
    background-color: #fff;
    width: 60%;
  }

  .card-back-information {
    font-size: 15px;
  }
  
  .card .back a {
    padding: 0.3em 0.5em;
    background: rgb(0, 98, 155);
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
    border: 5px solid #fff;
  }
  
  .card .back a:hover {
    background: #fff;
    color: rgb(0, 98, 155);
    text-shadow: 0 0 1px #333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #card-icon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #card-icon:hover {
    box-shadow: none;
  }
  
  .cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
  
  .cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  
  .cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 94.5%;
    }
    .card {
      height: 260px;
    }
  }

/* Contact section */

.contact-hr {
    background-color: rgb(0, 98, 155);
    width: 33%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.contact-heading {
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 26px;
}

.contact-text {
    font-weight: 300;
    margin-bottom: 2%;
    text-align: center;
}

#contact-button {
    width: 280px;
    border: 2px solid rgb(0, 98, 155);
    color: rgb(0, 98, 155);
    font-weight: 600;
    border-radius: 10px;
}

#contact-button:hover {
    color: #fff;
    background-color: rgb(0, 98, 155);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Footer section  */

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 98, 155);
    padding-top: 5%;
    padding-bottom: 2.5%;
}

.footer-upper-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-lower-section {
    margin-top: 2%;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-text {
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px;
  }

  .fa:hover {
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  .fa-facebook {
    background: #FFF;
    color: rgb(0, 98, 155);
  }

  .fa-twitter {
    background: #FFF;
    color: rgb(0, 98, 155);
  }

  .fa-linkedin {
    background: #FFF;
    color: rgb(0, 98, 155);
  }

  .fa-github {
    background: #FFF;
    color: rgb(0, 98, 155);
  }

  /*Media queries*/

  @media only screen and (max-width: 1120px) {
    /* For mobile phones: */
    .progress-area {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .contact-hr {
      margin-top: 250px;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .footer-section {
      margin-top: 50px;
    }
  }

  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .boxesContainer {
      margin-right: 70px;
    }
  }

  